---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Inicio/Hero.astro";
import Us from "@/components/Inicio/Us.astro";
import Merch from "@/components/Inicio/Merch.astro";
import Branding from "@/components/Inicio/Branding.astro";
import Servicios from "@/components/Inicio/Servicios.astro";
import Ticker from "@/components/Ticker.astro";
import ContactoInicio from "@/components/Inicio/ContactoInicio.astro";
// import CardDestacado from "../components/CardDestacado.astro";
---

<Layout>
    <head>
        <meta charset="UTF-8" />
    </head>

    <!-- HERO -->
    <Hero />

    <!-- SLIDE -->
    <!-- <Ticker /> -->

    <!-- SECTION 1 · Imagen + Texto -->
    <Us />

    <Merch />

    <Servicios />

    <Branding />

    <ContactoInicio>
        <!-- <section class="py-10">
        <CardDestacado
            title="Noteworthy technology acquisitions 2021"
            description="Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order."
            image="/img/SandraLillo.webp"
            href="#"
        />
    </section> -->
    </ContactoInicio>
</Layout>
