---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <div class="max-w-2xl lg:max-w-5xl mx-auto py-20 px-40 sm:px-2 lg:px-8">
            <div class="text-center mb-16">
                <h1
                    class="text-6xl font-bold text-gray-800 sm:text-4xl pt-100px"
                >
                    Preguntas <span class="text-[#Fd9800]">Frecuentes</span>
                </h1>
            </div>

            <div class="space-y-8">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Cuáles son sus horarios de atención?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600 max-w-[800px]">
                        Nuestro horario de atención es de lunes a viernes, de
                        9:00 AM a 6:00 PM.
                    </p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Dónde están ubicados?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">UBICACION</p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Qué tipos de letreros fabrican?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">
                        Fabricamos letreros luminosos LED, corpóreos, acrílicos,
                        metálicos, de madera y neón flexible, entre otros. Todos
                        pueden personalizarse según el diseño y tamaño que
                        necesites.
                    </p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Puedo enviar mi propio diseño o logo?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">
                        Sí, aceptamos diseños personalizados. Solo necesitamos
                        el archivo en formato editable (AI, PDF o SVG).
                    </p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Cuánto demora la fabricación de un letrero?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">
                        El tiempo de entrega depende del tipo y tamaño del
                        proyecto. En promedio, los pedidos se entregan entre 7 y
                        15 días hábiles después de aprobada la propuesta y el
                        diseño final.
                    </p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Realizan instalación de los letreros?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">
                        Sí. Contamos con equipo técnico especializado para
                        instalar letreros en interiores y exteriores, cumpliendo
                        con todas las normas de seguridad eléctrica y
                        estructural.
                    </p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Puedo pedir una cotización sin compromiso?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">
                        Por supuesto. Puedes solicitar tu cotización desde
                        nuestro formulario de contacto o escribiendo a
                        info@sungraphics.cl
                    </p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Qué materiales utilizan?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">
                        Usamos materiales de alta durabilidad y resistencia,
                        como acrílico, PVC expandido, acero inoxidable, MDF
                        lacado y vinilos de impresión premium, según el tipo de
                        letrero o producto.
                    </p>
                </details>
            </div>

            <!-- Pregunta  -->
            <div class="space-y-8 pt-4">
                <details class="group border-l-4 border-[#Fd9800] bg-white p-6">
                    <summary
                        class="flex items-center justify-between cursor-pointer"
                    >
                        <h2 class="text-2xl font-medium text-gray-900">
                            ¿Ofrecen productos de merchandising personalizados?
                        </h2>

                        <span
                            class="ml-1.5 flex-shrink-0 rounded-full bg-gray-200 p-1.5 text-gray-600 transition group-open:rotate-45"
                        >
                            <svg
                                class="size-6"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="#FD9800"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                        </span>
                    </summary>

                    <p class="mt-4 text-gray-600">
                        Sí, producimos merchandising corporativo personalizado,
                        como tazas, poleras, pendones, llaveros, libretas y más,
                        con tu marca o diseño. Ideal para eventos o regalos
                        empresariales.
                    </p>
                </details>
            </div>
        </div>
    </section>
</Layout>
