<section id="merch-catalogos" class="w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full">
        <!-- Lado izquierdo: naranja -->
        <div
            class="bg-orange-500 text-white px-6 sm:px-10 py-10 sm:py-14 flex items-center justify-center"
        >
            <div class="text-center md:text-left">
                <h2
                    class="uppercase font-extrabold leading-[1.05] tracking-tight
                 text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl ff-bebas"
                    data-aos="zoom-in"
                    data-aos-duration="1000"
                    data-aos-once="true"
                >
                    Tus ideas<br />
                    <span id="underline-animation" class="decoration-white/80">
                        nuestros<br /> diseños
                    </span>
                </h2>
            </div>
        </div>

        <!-- Lado derecho: gris oscuro -->
        <div
            class="bg-[#515151] text-white px-6 sm:px-10 py-10 sm:py-14 flex items-center justify-center"
        >
            <div
                class="max-w-md text-center md:text-left"
                data-aos="fade-left"
                data-aos-duration="1000"
                data-aos-once="true"
            >
                <h3 class="text-lg sm:text-xl font-extrabold uppercase">
                    Branding
                </h3>
                <p class="mt-2 text-white/80 text-sm sm:text-base">
                    » DISEÑO DE LOGO / ESTRATEGIA DE MARCA / IDENTIDAD
                    CORPORATIVA Construimos marcas increíbles, te damos las
                    estrategias necesarias para que tus clientes recuerden y
                    recomienden tu negocio.
                </p>

                <h3 class="text-lg sm:text-xl font-extrabold uppercase pt-10">
                    DISEÑO GRÁFICO
                </h3>
                <p class="mt-2 text-white/80 text-sm sm:text-base">
                    » DISEÑO CORPORATIVO / DISEÑO PUBLICITARIO Nos
                    especializamos en desarrollar piezas gráficas que sean
                    atractivas y coherentes con tu empresa, para que tus
                    clientes fidelicen con tu marca.
                </p>
            </div>
        </div>
    </div>
</section>
