<section class="pt-30">
    <h1 class="uppercase text-center text-5xl text-[#545454]">Hablemos!</h1>
    <p class="text-center text-2xl pt-3 pb-10">
        Llevemos tu negocio al siguiente nivel.
    </p>
</section>
<section
    class="flex flex-row justify-center px-4 lg:px-0 max-w-7xl mx-auto pb-20"
>
    <div
        class="flex flex-col border border-gray-200 rounded-xl p-4 sm:p-6 lg:p-8"
    >
        <form>
            <div class="grid gap-4">
                <!-- Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="nombre-contacto" class="sr-only"
                            >Nombre</label
                        >
                        <input
                            type="text"
                            name="nombre-contacto"
                            id="nombre-contacto"
                            class="py-2.5 sm:py-3 px-4 block rounded-lg sm:text-sm border border-gray-300 focus:border-[#FD9800] focus:ring-[#FD9800] w-full p-2 disabled:opacity-50 disabled:pointer-events-none"
                            placeholder="Nombre"
                        />
                    </div>

                    <div>
                        <label for="apellido-contacto" class="sr-only"
                            >Apellido</label
                        >
                        <input
                            type="text"
                            name="apellido-contacto"
                            id="apellido-contacto"
                            class="py-2.5 sm:py-3 px-4 block rounded-lg sm:text-sm border border-gray-300 focus:border-[#FD9800] focus:ring-[#FD9800] w-full p-2 disabled:opacity-50 disabled:pointer-events-none"
                            placeholder="Apellido"
                        />
                    </div>
                </div>
                <!-- End Grid -->

                <div>
                    <label for="email-contacto" class="sr-only">Correo</label>
                    <input
                        type="email"
                        name="email-contacto"
                        id="email-contacto"
                        autocomplete="email"
                        class="py-2.5 sm:py-3 px-4 block rounded-lg sm:text-sm border border-gray-300 focus:border-[#FD9800] focus:ring-[#FD9800] w-full p-2 disabled:opacity-50 disabled:pointer-events-none"
                        placeholder="Correo"
                    />
                </div>

                <div>
                    <label for="telefono-contacto" class="sr-only"
                        >Teléfono</label
                    >
                    <input
                        type="text"
                        name="telefono-contacto"
                        id="telefono-contacto"
                        class="py-2.5 sm:py-3 px-4 block rounded-lg sm:text-sm border border-gray-300 focus:border-[#FD9800] focus:ring-[#FD9800] w-full p-2 disabled:opacity-50 disabled:pointer-events-none"
                        placeholder="Teléfono"
                    />
                </div>

                <div>
                    <label for="detalles-contacto" class="sr-only"
                        >Detalles</label
                    >
                    <textarea
                        id="detalles-contacto"
                        name="detalles-contacto"
                        rows="4"
                        class="py-2.5 sm:py-3 px-4 block rounded-lg sm:text-sm border border-gray-300 focus:border-[#FD9800] focus:ring-[#FD9800] w-full p-2 disabled:opacity-50 disabled:pointer-events-none"
                        placeholder="Escríbenos"></textarea>
                </div>
            </div>
            <!-- End Grid -->

            <div class="mt-4 grid">
                <button
                    type="submit"
                    class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-xl font-medium rounded-lg border border-transparent bg-[#FD9800] text-white hover:bg-[#D68A00] focus:outline-hidden focus:bg-[#D68A00] disabled:opacity-50 disabled:pointer-events-none cursor-pointer"
                    >Enviar</button
                >
            </div>
        </form>
    </div>
    <!-- End Card -->
</section>
