<nav class="px-10 py-4">
    <ul class="uppercase flex space-x-8 text-lg md:text-sm sm:text-sm">
        <li><a href="/">Inicio</a></li>
        <li><a href="/proyectos">Proyectos</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
